<!--Importing Header from partials-->
<% include partials/header %>

<h1>This is the home page</h1>
<img src="/home/arjun_v/Desktop/udemyBackEnd/expressrendertemplate/public/images/firewatch-3840x2160-best-games-game-quest-horror-pc-ps4-8462.jpg">

<!--Importing Footer from partials-->
<% include partials/footer%>