<h1 align="center"> Search Page</h1>

<form action="/result" method="get">
  <!-- We are getting the details from result.ejs so
        we give the action as /result and the method is
        get request-->
  <input type="text" placeholder="search term" name="search">
  <input type="submit">
</form>
